$gray100: #fff;
$gray0: #000;

$gray5: hsl(0, 0%, 5%);
$gray10: hsl(0, 0%, 10%);
$gray15: hsl(0, 0%, 15%);
$gray20: hsl(0, 0%, 20%);
$gray25: hsl(0, 0%, 25%);
$gray30: hsl(0, 0%, 30%);
$gray35: hsl(0, 0%, 35%);
$gray40: hsl(0, 0%, 40%);
$gray45: hsl(0, 0%, 45%);
$gray50: hsl(0, 0%, 50%);
$gray55: hsl(0, 0%, 55%);
$gray60: hsl(0, 0%, 60%);
$gray65: hsl(0, 0%, 65%);
$gray70: hsl(0, 0%, 70%);
$gray75: hsl(0, 0%, 75%);
$gray80: hsl(0, 0%, 80%);
$gray85: hsl(0, 0%, 85%);
$gray90: hsl(0, 0%, 90%);
$gray91: hsl(0, 0%, 91%);
$gray92: hsl(0, 0%, 92%);
$gray93: hsl(0, 0%, 93%);
$gray94: hsl(0, 0%, 94%);
$gray95: hsl(0, 0%, 95%);
$gray96: hsl(0, 0%, 96%);
$gray97: hsl(0, 0%, 97%);
$gray98: hsl(0, 0%, 98%);
$gray99: hsl(0, 0%, 99%);

// SCREEN SIZES
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1200px;

// ----------------------------
//          THEMES
// ----------------------------

:root {
    --primary: hsl(0, 0%, 97%);
    --secondary: hsl(0, 0%, 40%);
    --loading-opacity: 0.2;
    --color-bg: hsl(0, 0%, 93%);
    --color-text-primary: hsl(0, 0%, 30%);
    --color-accent: hsl(100, 0%, 70%);
    --color-border: hsl(100, 0%, 89%);
    --color-highlight: hsl(0, 0%, 95%);
    --color-hover: hsl(210, 100%, 0%, 0.07);
}

[data-theme="dark"] {
    --primary: hsl(0, 0%, 15%);
    --secondary: hsl(0, 0%, 95%);
    --loading-opacity: 0.2;
    --color-bg: hsl(0, 0%, 25%);
    --color-text-primary: hsl(0, 0%, 95%);
    --color-accent: hsl(100, 0%, 50%);
    --color-hover: hsl(210, 0%, 0%, 0.2);
    --color-border: hsl(100, 0%, 30%, 0.5);
}

[data-theme="pink"] {
    --primary: hsl(340, 100%, 90%);
    --secondary: hsl(340, 100%, 30%);
    --loading-opacity: 0.2;
    --color-bg: hsl(340, 100%, 95%);
    --color-text-primary: hsl(340, 100%, 60%);
    --color-accent: hsl(340, 100%, 70%);
    --color-border: hsl(340, 100%, 80%);
    --color-hover: hsl(340, 100%, 50%, 0.2);
}

[data-theme="blue"] {
    --primary: hsl(210, 100%, 95%);
    --secondary: hsl(210, 100%, 30%);
    --loading-opacity: 0.2;
    --color-bg: hsl(210, 100%, 90%);
    --color-border: hsl(210, 100%, 80%);
    --color-accent: hsl(210, 100%, 70%);
    --color-text-primary: hsl(210, 100%, 60%);
    --color-hover: hsl(210, 100%, 50%, 0.2);
}
